<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Arquivos Recepcionados</title>
	</head>
	
	<body>
		<h1>Cards de instituicoes</h1>
			<ul method= "get" th:each="arq : *{Arquivo}" class="form-group" >
				<li  th:text = "${arq.getCard()}"></li>
				<li  th:text = "${arq.getRecepcionado()}"></li>
				<form>
					<input  type = "hidden" name = "card" th:value = "${arq.getCard()}" />
					<button formmethod = "post"type ="submit">receptinar</button>
				</form>
			</ul>
	</body>

</html>